.section-one {
  position: relative;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  height: 100vh;   /* Ocupa toda la pantalla */
  width: 100%;
  background-color: #000000; /* Azul */
  display: flex;
  justify-content: center;
  align-items: center;

  .contenido {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 600px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    pointer-events: none; 
  }

  &::before {
    left: 0;
    background-image: url('../../assets/imagenes/castillo.png');
  }

  &::after {
    right: 0;
    background-image: url('../../assets/imagenes/katanas2.png');
  }

}


.btnMain {
  background-color: #9F2B2C;
  font-family: OrchideeLight;
  border-radius: 8px;
  width: 60%;
  height: 5vh;
  cursor: pointer;
  border: 1px solid #9F2B2C;
  color: white;
  font-size: 18px;
}

.centrado {
  text-align: center;
}

.tituloPrincipal {
  font-family: OrchideeMedium;
  font-size: clamp(1.5625rem, 1.4286rem + 0.6696vw, 2.5rem);
}

.subTitulos {
  font-family: OrchideeLight;
  font-size: clamp(0.6875rem, 0.6518rem + 0.1786vw, 0.9375rem);
}
 